.App {
  text-align: center;
  color: rgb(4,151,193);
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@media (min-width: 1000px) {
  .App-mainbody{ margin-top: 18vh;}
  .App-home{ padding-left: 17vw; padding-right: 17vw; font-size: 20px}
}
@media (max-width: 999px) {
  .App-mainbody{ margin-top: 20%;}
  .App-home{ padding-left: 3vw; padding-right: 3vw; font-size: 17px }
}
@media (max-width: 390px) {
  .App-mainbody{ margin-top: 27%;}
}
.App-header {
  background-color: rgb(2,29,46);
  /*background-color: rgb(164,164,164);*/
  background-image: url("./images/cat.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  background-position-y: bottom;
  min-height: 10vh;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
  top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-home{
  width : 100%;
  height: auto;
  background-image: url("./images/book_background.jpg");
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
  font-weight: bold;
}

.App-body{
  background: rgba(191,203,253,0.3);
  font-size: 20px;
}
.App-Nav {
  background: rgba(205,249,222,0.3);
}
.App-footer{
  background: rgba(251,202,223,0.3);
}

.App-list{
  display: inline-table;
}

.Fix_Right_Top{
  position: fixed;
  right: 0;
  top: 0;
}

.Tech_img{
  width: 70px;
  height: 70px;
}

